<div class="container" style="background-color: #ceb467;">
  <div class="row">
    
    <img id="imageOpen" width="640" height="360" src="../../../assets/images/open.jpg" class="img-fluid center-block" alt="Responsive image" style="border-radius: 10px; display: none;">
    <img id="imageClose" width="640" height="321" src="../../../assets/images/closed.png" class="img-fluid center-block" alt="Responsive image" style="display: none;">
    
  </div>
  <div class="text-center">
      <h1 class ="jumboText">How it works</h1>
  </div>
  <div class="row">
      <div class="col-sm-4">
        <h3 class="instruction">Selling</h3>
        <p>I will meet you at the lounge of the floor you specify. I will send you an email when I arrive.
           We will discuss prices. If we come to an agreement, then you will hand me the item and I will hand you the cash.
        </p>
      </div>
      <div class="col-sm-4">
        <h3 class="instruction">Buying</h3>
        <p>I will come to the lounge of the floor you specify. I will send you an email when I arrive. You will hand me the cash.
          Then I will give you the item.
        </p>
      </div>
      <div class="col-sm-4">
        <h3 class="instruction">Delivery</h3>
        <p>I will meet you in the lounge of the floor you specify. I will send you an email when I arrive. You will hand me 3 USD plus any money regarding what you want delivered. 
          e.g. If you want something from The Den, you will need to hand me the cash to pay for it. I will deliver and send you an email once I am back to the same location we met the first time. If I can't retrieve what you wanted, you will recieve a full refund. Including the 3 dollar charge.</p>
      </div>
    </div>
</div>