<div class="container">
  <div class="row">
    
    <img id="imageOpen" src="../../../assets/images/open.png" class="image-open center-block" alt="Responsive image" style="border-radius: 10px; display: none;">
    <img id="imageClose" src="../../../assets/images/closed.png" class="image-close center-block" alt="Responsive image" style="display: none;">
    
  </div>
  <div class="text-center">
      <h1 class ="jumboText" style="color: #68b4c9;">How it works</h1>
  </div>
  <div class="row">
      <div class="col-sm-6 text-backdrop">
        <h3 class="instruction">Selling</h3>
        <p>I will meet you at the location you specify. I will send you an email or text message when I arrive.
           We will discuss prices. If we come to an agreement, you will hand me the item and I will hand you the cash.
        </p>
      </div>
      <div class="col-sm-6 text-backdrop">
        <h3 class="instruction">Buying</h3>
        <p>I will come to the location you specify. I will send you an email or text message when I arrive. You will hand me the cash.
          Then I will give you the item.
        </p>
      </div>
      
    </div>
</div>