.instruction{
    color: #68b4c9;
}
.text{
    color: #f0a418;
    outline-width: 5px;
    outline-color: #df9d23;
}
.image-close{
  display: block;
  max-width:75vw;
  max-height:321px;
  width: auto;
  height: auto;
}

.image-open{
  display: block;
  max-width:75vw;
  max-height:360px;
  width: auto;
  height: auto;
}