<div class="jumbotron text-center" style="background-color: #444444">
  <h1 class ="jumboText">Rules of the Shop</h1>
  <p class="warning">If you receive two warnings, you will be banned from the store.</p>
  <p class="jumboText">This ain't a joke bro.</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3 class="ruleTitle">Stolen Items</h3>
      <p>If I receive an item that is reported as stolen and 
        I am given proof, you will be <span class="banned">banned</span> or possibly just given a
         <span class="warning">warning</span>.
      </p>
    </div>
    <div class="col-sm-4">
      <h3 class="ruleTitle">Illegal substances</h3>
      <p>If you try to sell any illegal subtances to me, you will be given a <span class="warning">warning</span>. I will also not accept it.</p>
    </div>
    <div class="col-sm-4">
      <h3 class="ruleTitle">Inappropriate Behavior</h3>
      <p>If you act in a way such that it makes me or people around us uncomfortable, 
        I will give you a <span class="warning">warning</span>.</p>
    </div>
  </div>
  <div class="row">
      
  </div>
  
</div> 