<div class="jumbotron text-center" style="background-color: #444444">
  <h1 class ="jumboText">Rules of the Shop</h1>
  <p class="warning">If you receive two warnings, you will be banned from the store.</p>
  <p class="jumboText">This ain't a joke bro.</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4 text-backdrop">
      <h3 class="ruleTitle">Stolen Items</h3>
      <p>If I receive an item that is reported as stolen and 
        I am given proof, you will be <span class="banned">banned</span> or possibly just given a
         <span class="warning">warning</span>.
      </p>
    </div>
    <div class="col-sm-4 text-backdrop">
      <h3 class="ruleTitle">Illegal substances</h3>
      <p>If you try to sell any illegal subtances to me, I will not accept it and you will recieve a <span class="warning">warning</span>.</p>
    </div>
    <div class="col-sm-4 text-backdrop">
      <h3 class="ruleTitle">Misguiding</h3>
      <p>If you tell me to deliver at a specific location and you are not there within 15 minutes of my arrival,
        you will recieve a <span class="warning">warning</span>. I will send you either an email or text message upon arrival.</p>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-4 text-backdrop">
          <h3 class="ruleTitle">Rental Policy</h3>
          <p>If you wish to rent something, you will need to hand me the full price of the item.
            When you are ready to return the item, I will meet you someplace and give you the money back. Minus the rental fee.
          </p>
        </div>
  </div>
  
</div> 